@{
    ViewData["Title"] = "Dashboard";
    @model DashboardDTO;
}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-8">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold">Total incritos</p>
                                <h5 class="font-weight-bolder mb-0">
                                    @Model.TotalInscribed
                                @*    <span class="text-success text-sm font-weight-bolder">+3%</span>*@
                                </h5>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <div class="icon icon-shape bg-gradient-secondary shadow text-center border-radius-md">
                                <i class="fab fa-wpforms text-white"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-8">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold">Inscritos hoje</p>
                                <h5 class="font-weight-bolder mb-0">
                                    + @Model.TotalNewsCandidates
                                    @*<span class="text-danger text-sm font-weight-bolder">-2%</span>*@
                                </h5>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <div class="icon icon-shape bg-gradient-secondary shadow text-center border-radius-md">
                                <i class="fab fa-wpforms text-white"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-8">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold">Fase de exame</p>
                                <h5 class="font-weight-bolder mb-0">
                                    @Model.TotalExam
                                    @*<span class="text-success text-sm font-weight-bolder">+100</span>*@
                                </h5>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <div class="icon icon-shape bg-gradient-secondary shadow text-center border-radius-md">
                                <i class="fab fa-wpforms text-white"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-8">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold">Rejeitados</p>
                                <h5 class="font-weight-bolder mb-0">
                                    @Model.TotalRejected
                                    @*<span class="text-success text-sm font-weight-bolder">10</span>*@
                                </h5>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <div class="icon icon-shape bg-gradient-secondary shadow text-center border-radius-md">
                                <i class="fab fa-wpforms text-white"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-6">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>Inscritos Recentemente</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-5">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">BI</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Passaporte</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nome</th>
                                     <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Licenciatura</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Curso</th>
                                    <th class="text-end opacity-7"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.RecentCandidates)
                                {
                                <tr class="text-sm-center">
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">@(item.BINumber ?? "N/A")</p>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">@(item.PassportNumber ?? "N/A")</p>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">@item.Name</p>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">@item.Graduation</p>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">@item.Course</p>
                                    </td>
                                    <td class="align-middle">
                                        <a href="/candidaturesManagement/Details/@item.Id" class="text-secondary font-weight-bold btn-sm bg-gradient-secondary text-white" data-toggle="tooltip" data-original-title="Edit user">
                                            Ver
                                        </a>
                                    </td>
                                </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>