@{
    @model CandidateDTOOutput
    ViewData["Title"] = $"{Model.Name}";
}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header pb-0 px-3">
                    <h6 class="mb-0">Informações do candidato</h6>
                </div>
                <div class="card-body pt-4 p-3">
                    <ul class="list-group">
                        <li class="list-group-item border-0 d-flex p-4 mb-2 mt-3 bg-gray-100 border-radius-lg">
                            <div class="d-flex flex-column">
                                <h5 class="mb-3 text-sm">Dados pessoais</h5>
                                <span class="mb-2 text-xs">Nome Completo:<span class="text-dark font-weight-bold ms-sm-2">@Model.Name</span></span>
                                <span class="mb-2 text-xs">Data de nascimento:<span class="text-dark ms-sm-2 font-weight-bold">@Model.BirthdateF</span></span>
                                <span class="mb-2 text-xs">Estado civil:<span class="text-dark ms-sm-2 font-weight-bold">@Model.MaritalStatus</span></span>

                                <span class="mb-2 text-xs">Sexo:<span class="text-dark ms-sm-2 font-weight-bold">@Model.Gender</span></span>
                                <span class="mb-2 text-xs">Nome da mãe:<span class="text-dark ms-sm-2 font-weight-bold">@Model.MothersName</span></span>
                                <span class="mb-2 text-xs">Nome do pai:<span class="text-dark ms-sm-2 font-weight-bold">@Model.FathersName</span></span>

                                <span class="mb-2 text-xs">Nº do BI:<span class="text-dark font-weight-bold ms-sm-2">@Model.BINumber</span></span>
                                <span class="mb-2 text-xs">Nº do passaporte:<span class="text-dark ms-sm-2 font-weight-bold">@Model.PassportNumber</span></span>

                                @*<span class="mb-2 text-xs">Nº do BI:<span class="text-dark font-weight-bold ms-sm-2">@Model.BINumber</span></span>
                                    <span class="mb-2 text-xs">Nº do passaporte:<span class="text-dark ms-sm-2 font-weight-bold">@Model.PassportNumber</span></span>*@

                                <span class="mb-2 text-xs">Nacionalidade:<span class="text-dark font-weight-bold ms-sm-2">@Model.BINumber</span></span>
                                <span class="mb-2 text-xs">Província:<span class="text-dark ms-sm-2 font-weight-bold">@Model.City</span></span>

                            </div>
                        </li>
                        <li class="list-group-item border-0 d-flex p-4 mb-2 mt-3 bg-gray-100 border-radius-lg">
                            <div class="d-flex flex-column">
                                <h6 class="mb-3 text-sm">Dados acadêmicos</h6>
                                <span class="mb-2 text-xs">Licenciatura:<span class="text-dark ms-sm-2 font-weight-bold">@Model.Graduation</span></span>
                                <span class="mb-2 text-xs">Curso:<span class="text-dark ms-sm-2 font-weight-bold">@Model.Course</span></span>
                                <span class="mb-2 text-xs">Conclusão de enisno médio:<span class="text-dark ms-sm-2 font-weight-bold">@Model.HightSchoolFinishedYear</span></span>
                                <span class="mb-2 text-xs">Escola de ensino médio:<span class="text-dark ms-sm-2 font-weight-bold">@Model.HighSchool</span></span>
                            </div>
                        </li>
                        @{
                            if (Model.RegimeId == 2)
                            {
                                <li class="list-group-item border-0 d-flex p-4 mb-2 mt-3 bg-gray-100 border-radius-lg">
                                    <div class="d-flex flex-column">
                                        <h6 class="mb-3 text-sm">Regime de  voluntário: </h6>
                                        <span class="mb-2 text-xs">Licenciatura:<span class="text-dark ms-sm-2 font-weight-bold">@Model.Graduation</span></span>
                                        <span class="mb-2 text-xs">Curso:<span class="text-dark ms-sm-2 font-weight-bold">@Model.Course</span></span>
                                        <span class="mb-2 text-xs">Conclusão de enisno médio:<span class="text-dark ms-sm-2 font-weight-bold">@Model.HightSchoolFinishedYear</span></span>
                                        <span class="mb-2 text-xs">Escola de ensino médio:<span class="text-dark ms-sm-2 font-weight-bold">@Model.HighSchool</span></span>
                                    </div>
                                </li>
                            }
                            else
                            {
                                <li class="list-group-item border-0 d-flex p-4 mb-2 mt-3 bg-gray-100 border-radius-lg">
                                    <div class="d-flex flex-column">
                                        <h6 class="mb-3 text-sm">Aluno em regime normal</h6>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header pb-0 p-3">
                    <div class="row">
                        <div class="col-6 d-flex align-items-center">
                            <h6 class="mb-0">Anexos</h6>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3 pb-0">
                    <ul class="list-group">
                        <hr />
                        <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                            <div class="d-flex flex-column">
                                <h6 class="mb-1 text-dark font-weight-bold text-sm">Documento (BI/Passporte)</h6>
                            </div>
                            <div class="d-flex align-items-center text-sm">
                                <a target="_blank" href="@Model.DocumentUrl" class="btn btn-link text-dark text-sm mb-0 px-0 ms-4"><i class="fas fa-file-pdf text-lg me-1" aria-hidden="true"></i>Abrir documento</a>
                            </div>
                        </li>
                        <hr />
                        <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                            <div class="d-flex flex-column">
                                <h6 class="mb-1 text-dark font-weight-bold text-sm">Certificado do ensino médio</h6>
                            </div>
                            <div class="d-flex align-items-center text-sm">
                                <a target="_blank" href="@Model.HighSchoolCertificateUrl" class="btn btn-link text-dark text-sm mb-0 px-0 ms-4"><i class="fas fa-file-pdf text-lg me-1" aria-hidden="true"></i>Abrir documento</a>
                            </div>
                        </li>
                        <hr />
                        @{
                            if (Model.RegimeId == 2)
                            {

                                <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                                    <div class="d-flex flex-column">
                                        <h6 class="mb-1 text-dark font-weight-bold text-sm">Declaração de serviço</h6>
                                    </div>
                                    <div class="d-flex align-items-center text-sm">
                                        <a target="_blank" href="@Model.WorkCertificateUrl" class="btn btn-link text-dark text-sm mb-0 px-0 ms-4"><i class="fas fa-file-pdf text-lg me-1" aria-hidden="true"></i>Abrir documento</a>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
            <div class="">
                <div class="card mt-4">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h6 class="">Estado Actual:</h6> <span class="badge badge-sm bg-gradient-dark">@Model.Status</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <a class="btn bg-gradient-danger" href="javascript:;"><i class="fa faclose" aria-hidden="true"></i>&nbsp;&nbsp;Rejeitar</a>
                            </div>
                            <div class="col-6">
                                <a class="btn bg-gradient-success" href="javascript:;"><i class="fas fa-check" aria-hidden="true"></i>&nbsp;&nbsp;Aceitar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>